/* Reset */
div, p, a, img, ul, 
li, b, i, h1, h2, h3, 
h4, h5, h6 {

	border:none;
	text-decoration:none;
	font-size:100%;
	margin:0px;
	padding:0px;
	
	
}

a:visited {color:#8A2908;}

a {color:#8A2908;}

#container {

	width:960px;
	margin: 20px auto;
	background-color:#F0F0F0; /* this is inner container */

	border-radius:10px;
	-moz-border-radius:10px;

}

#kacsa {float:right;

	border-radius:0 10px 0 10px;
	-moz-border-radius:10px 0 0 0;
}

#header {

	width:750px;
	float:left;
	margin-left:10px;
	text-align:left;
}


body {
	margin:0px;
	background-color:rgb(245, 202, 109); /* 8A2908 background */
	font-family: 'Roboto', sans-serif;
	font-size:20px;
		
}

h1 {
	font-size:61px;
}

h2 {
	font-size:24px;

}

h4 {
	font-size:22px;
	font-weight:400;

}

h1 {margin-bottom:0px;}

h2, h4 {
	margin-bottom:8px;

}

#menu {

	float:left;

	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:15px;
}

#nav {

	clear:both;

	font-size:20px;
	margin:10px 10px 10px 10px;

}

#nav li {
	list-style:none;
	float:left;
	margin-left:33px;

}

#nav li:nth-child(1) {

	margin-left:2px;

}

#nav a {

	font-size:22px;
	color:#8A2908;

	display:block;
	padding:5px 18px;

	background-color:#DDDDDD;
	

	border-radius:5px;
	-moz-border-radius:5px;

}

#nav a:hover {

	background-color:#AAAAAA;

}


#content {

	margin-left:10px;

}

#about {

	clear:both;
	margin-right:10px;
	margin-bottom:20px;
}

#about p {

	text-align:justify;

}

h3 {
	font-size:24px;
	margin-top:16px;
	margin-bottom:10px;

}

#cv h4 {
	
	font-size:28px;
	margin-bottom:0px;
	font-weight:700;
}

.year {

	width:130px;
	float:left;
	margin-bottom:10px;
}

.school {	

	width:810px;
	float:left;
	margin-bottom:10px;
}

.school b {

 	font-weight:700;

}

.school p {

	margin-bottom:5px;

}

#publications {

	clear:both;

}

.abstract_header {

	font-size:18px;

	width:78px;
	color:#0000cc;
	outline:none;
	

}

.abstract_header:hover {

	cursor:pointer;
}

#abstract {

	font-size:16px;

	width:910px;
	height:80px;
	margin-left:20px;
	padding-bottom:8px;
}

#abstract2 {

	font-size:16px;

	width:910px;
	margin-left:20px;

}

.gecko #abstract2 {height:430px;}

#abstract2 p {

	margin-bottom:8px;

}

#abstract2 ul {

	margin-bottom:8px;
	list-style:none;

}

#abstract3 {

	font-size:16px;

	width:910px;
	margin-left:20px;

}

#abstract3 p {

	margin-bottom:8px;

}

#abstract3 i {
	font-style:italic;
}

.gecko #abstract3 {height:560px;}


.pub_title {

	font-weight:700;
	font-style:italic;
	margin-top:8px;

}

/*#abstract2 {

	font-size:16px;

	width:910px;*/
	/*height:418px;*/
	/*margin-left:20px;

}*/

#abstract4 {

	font-size:16px;

	width:910px;
	margin-left:20px;
	padding-bottom:8px;

}

#abstract4 i {

	font-style:italic;

}

.preprint {

	font-size:18px;

	/*float:left;
	margin-right:10px;*/

}


h5 {

	font-size:22px;
	margin-bottom:8px;
	margin-top:5px;
	clear:both;

}

#teaching {

	height: 354px;

}

.semester {

	width:130px;
	float:left;
	/*margin-bottom:2px;*/
}

.class {	

	width:810px;
	float:left;
	/*margin-bottom:2px;*/
}

#bme {

	padding-top:5px;
}

#personal {

	margin-top:

	clear:both;

	padding-bottom:5px;

}

#rjb {
	font-size:12px;
	color:#cce5ff;
	text-align:center;
	margin-bottom:5px

}

#rjb a {color:#cce5ff;}

