<section class="intro">
  <div class="container">
      <p class="lead"><img src="{{site.url}}/assets/images/rob.jpg" class="float_right">Hi, I'm <strong
      class="author-name" itemprop="name">{{ site.author.name }}</strong>. I'm a postdoc in the
      department of Theoretical Computer Science at the Vrije Universiteit Amsterdam, working with
      Jasmin Blanchette on the Matryoshka project.</p> 

      <p>I completed my PhD in Pure and Applied Logic at Carnegie Mellon University, under the
         supervision of Jeremy Avigad. I earned an MS in Logic, Computation, 
         and Methodology in 2014 and an MS in Mathematics in 2015, both from CMU. Previously, I 
         earned a BA from Rice University with a double major in Mathematics and Philosophy, and 
         taught geometry, pre-calculus, and AP calculus at St. Agnes Academy in Houston. </p>
      
      <p>My interests revolve around formal methods, logic, and the foundations of mathematics. 
        I work on interactive theorem proving, formal verification, automated logical reasoning, 
        and type theoretic foundations for mathematics. More details are available on my Research
        page.</p> 

      <p>You can reach me by email at <a href="mailto:{{ site.author.email }}">{{ site.author.email
      }}</a>, and you can find my cv <a href="{{site.url}}/files/cv.pdf">here</a>.</p>
  </div>
</section>
